@model IEnumerable<CaseStudy.Live.Models.QuanLy.Response.DiemDanh>
@using CaseStudy.Live.Models.QuanLy.Request

@{
    ViewData["Title"] = "DiemDanhBoPhan";
}

<h1>Điểm Danh Bộ Phận</h1>

<form asp-action="TaoDiemDanh" asp-controller="QuanLy">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>@TempData["Success"]</strong>
        </div>
    }
    <p>@Html.DisplayNameFor(model => model.Ngay)</p>
    <p><input asp-for="@Model.FirstOrDefault().Ngay" class="form-control" type="date" value=@Model.FirstOrDefault().Ngay.ToString("yyyy-MM-dd")></p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.HoTen)
                </th>
                <th>
                    Có mặt
                </th>
                <th>
                    Trễ
                </th>
                <th>
                    Không phép
                </th>
                <th>
                    Có phép
                </th>
                <th>
                    Theo quy định
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.HoTen, "DiemDanhNhanVien", "QuanLy", new LayDiemDanhNhanVienId { NhanVienId = item.NhanVienId, Ngay = item.Ngay })
                    </td>
                    <td>
                        <input type="radio" name="TrangThai" value="1" checked="@(item.TrangThai == 1)">
                    </td>
                    <td>
                        <input type="radio" name="TrangThai" value="2" checked="@(item.TrangThai == 2)">
                    </td>
                    <td>
                        <input type="radio" name="TrangThai" value="3" checked="@(item.TrangThai == 3)">
                    </td>
                    <td>
                        <input type="radio" name="TrangThai" value="4" checked="@(item.TrangThai == 4)">
                    </td>
                    <td>
                        <input type="radio" name="TrangThai" value="5" checked="@(item.TrangThai == 5)">
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            // show the alert
            setTimeout(function () {
                $(".alert").alert('close');
            }, 5000);
        });
    </script>
}
